<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Administrador</title>
    <link href="static/estilo.css" rel="stylesheet">

    <style>
        .card-content{
            color: black;
        }
    </style>
</head>
<body>


<div class="header">
    <h1>Painel do Administrador</h1>
    <p>Selecione uma das opções de Gestão de Tabelas</p>
</div>


<div class="card-grid">
    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#127970;</div>
            <h2>Setores</h2>
        </div>
        <div class="card-options">
            <a href="/admin/setores/incluir" class="option-button">Incluir</a>
            <a href="/admin/setores/consultar" class="option-button">Consultar</a>
            <a href="/admin/setores/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#128736;</div>
            <h2>Serviços</h2>
        </div>
        <div class="card-options">
            <a href="/admin/servicos/incluir" class="option-button">Incluir</a>
            <a href="/admin/servicos/consultar" class="option-button">Consultar</a>
            <a href="/admin/servicos/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#128100;</div>
            <h2>Empregados</h2>
        </div>
        <div class="card-options">
            <a href="/admin/empregados/incluir" class="option-button">Incluir</a>
            <a href="/admin/empregados/consultar" class="option-button">Consultar</a>
            <a href="/admin/empregados/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#128119;</div>
            <h2>Prestadores</h2>
        </div>
        <div class="card-options">
            <a href="/admin/prestadores/incluir" class="option-button">Incluir</a>
            <a href="/admin/prestadores/consultar" class="option-button">Consultar</a>
            <a href="/admin/prestadores/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#127963;</div>
            <h2>Locais</h2>
        </div>
        <div class="card-options">
            <a href="/admin/locais/incluir" class="option-button">Incluir</a>
            <a href="/admin/locais/consultar" class="option-button">Consultar</a>
            <a href="/admin/locais/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#128220;</div>
            <h2>Tipo Ocorrência</h2>
        </div>
        <div class="card-options">
            <a href="/admin/ocorrencias/incluir" class="option-button">Incluir</a>
            <a href="/admin/ocorrencias/consultar" class="option-button">Consultar</a>
            <a href="/admin/ocorrencias/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>
</div>


<div class="return-container">
    <a href="/" class="return-button">Retornar ao Menu Principal</a>
</div>


</body>
</html>
